*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    scroll-behavior: smooth; /* rolagem suave */
    scroll-snap-type: mandatory; /* define a direção da rolagem */
    scroll-snap-stop: always; /* força a rolagem a parar em cada seção */
}
body{
    color: rgb(0,0,0);
    background: linear-gradient(to bottom,rgb(199, 32, 32));


}

/* Início do header (cabeçalho, menu) */
 
a {
    font-family: sans-serif;
    text-decoration: none;
  }
  
header {
    background-image: linear-gradient(to right, rgb(14, 6, 59), rgb(197, 59, 167) );
    height: 120px;
    width: 100%;
    
  }
  
  .nav {
    width: 100%;
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    

  }

  .barra-pesquisa{
    margin-left: 3%;
  }
  
    #logo-cliente{   
    height: 15vh;
    margin-top: 48px;
    margin-left: 10%;
}


  .nav-list ul{
    display: flex;
    gap: 40px;
    list-style: none;
    margin-top: 45px;
    margin-left: 5.5%;
    

    
  }
  #favoritos{
    display: none;
  }
  
  .nav-list a {
    font-size: 2.6vw;
    color: #fff;
    
  }
 
  .nav-list li a:hover{
    color:turquoise;
    font-size: 30px;
}
  
.barra-pesquisa{
    display: flex;
    height: 25px;
    margin-top: 43px;
    margin-right: 8%;

}
.lupa-pesquisa{
    margin-top: 2px;
    width: 20px;
    height: 20px;
    margin-right: 10px;
    cursor: pointer;
    
}
.borda-pesquisa{
    border-radius: 25px;
    padding-left: 25px;
    width: 100%;  
}
.img-carrinho{
    height: 35px;
    width: 35px;
    margin-left: 2%;
    margin-top: -3px;
    cursor: pointer;
} 

  .hamburger {
    display: none;
    border: none;
    background: none;
    border-top: 3px solid #fff;
    cursor: pointer;
  }
  
  .hamburger::after,
  .hamburger::before {
    content: " ";
    display: block;
    width: 30px;
    height: 3px;
    background: #fff;
    margin-top: 5px;
    position: relative;
    transition: 0.3s;
  }

  /* Fim do header */


  /* Início do carrossel */

  section.slider{
    margin: 0 auto;
    width: 100%;
    height: auto;
    padding: 0 !important;
    overflow: hidden;
    z-index: 1;
  }


    .slider-content input, .img-mobile{
        display: none;
    }

    .slide-box{
        width: 25%;
        height: auto;
        position: relative;
        text-align: center;
        transition: 1s;
    }

    .slide-box img{
        width: 100%;
    }

    .slider-content{
        width: 400%;
        height: auto;
        display: flex;
    }

    .nav-manual, .nav-auto{
        position: absolute;
        width: 100%;
        margin-top: 24%; /* mudar aqui se as bolinhas estiverem em cima das imagens ou muito distante delas */
        display: flex;
        justify-content: center;
    }

    .nav-manual .manual-btn, .nav-auto div{
        border: 1px solid rgb(30, 253, 0);
        padding: 10px;
        border-radius: 50%;
        cursor: pointer;
        transition: 0.2s;
    }

    .nav-manual .manual-btn:not(:last-child), .nav-auto div:not(:last-child){  /* para que todos os elementos tenham o mesmo estilo, menos a última bolinha */ 
        margin-right: 10px;
    }                

    .nav-manual .manual-btn:hover{
        background-color: rgb(30, 253, 0);
    }

    #radio1:checked ~ .nav-auto .auto-btn1, #radio2:checked ~ .nav-auto .auto-btn2, #radio3:checked ~ .nav-auto .auto-btn3 {     /* quando estiver marcado */   
        background-color: rgb(30, 253, 0);
    }     
    
    #radio1:checked ~ .primeiro{
        margin-left: 0%;
    }

    #radio2:checked ~ .primeiro{
        margin-left: -25%;
    }

    #radio3:checked ~ .primeiro{
        margin-left: -50%;  
    }


    /* Fim do carrossel */ 

  

    /* Início da estilização de todas as seções de produtos */

.cartao-visita-digital{
    margin-left: 10%;
    margin-top: 3%;
    
}

.banner, .itens-utilitarios{
    margin-left: 10%;
    margin-top: 20px;
}

/* Estilizando os cards */

.card{
    width: 20%;
    /* height: 450px; */
    border:1px solid #a1a0a0;
    margin-top: 30px;
    padding: 10px;
    margin-left: 15px;
    display: inline-block;
    border-radius: 15px;
    box-sizing: border-box;
    text-align: center;
}

.card img{
    margin-top: 5px;
    height: 270px;
    width:30%;
}

.card img:hover{
    border:10px double black;
}

.card h3{
    font-size: 1.5vw;
    margin-top: 10px;
}
.card h3:hover{
    color:yellow;
}
.card p{
    font-family:Tahoma;
    font-size: 0.9vw;
    margin-top: 10px;
}
.card button{
    display: block;
    margin: 10px;
    margin-left: 25%;
    background-image: linear-gradient( to right, aqua, purple);
    color:#fff;
    cursor:pointer;
    width: 50%;
    height: 40px;
    border-radius: 20px;
}
.card:hover{
    background-image: linear-gradient( to right, rgb(211, 24, 195), bisque);
    color: #000;
    font-weight:700;
}
.card button:hover{
    background-color: aquamarine;
    color: #000;
    font-weight:700;
}
/* Fim dos cards */

/* Fim da estilização de todas as seções de produtos */


/* Início da estilização da seção Sobre */

.sobre{
    display: flex;
    height: 200px;
    width: 77.5%;  
    margin-top: 80px;
    margin-left: 10.8%; 
    background: linear-gradient(to bottom, rgba(0, 215, 253, 0.5), rgb(163, 80, 160), rgb(200, 62, 72));
    border-radius: 10px;


}




.api, .contato{
    display: flex;
    height: 300px;
    width: 77.5%;  
    margin-top: 80px;
    margin-left: 10.8%;  
    background: linear-gradient(to bottom, rgba(0, 215, 253, 0.5), rgb(163, 80, 160), rgb(200, 62, 72));

    border-radius: 10px;
}
.sobre h1{
    font-size: 40px;
    width: 30%;
    display: flex;
    align-items: center;
    justify-content: center;
    
}
.sobre h2{
    font-size: 26px;
    width: 65%;
    display: flex;
    align-items: center;
}

/* Fim da estilização da seção Sobre */


/* Início da seção Contato */

#form {
    width: 100%;
}

.contato-dentro
  {
      display: flex;
         
  }

  [class*='col']
  {
      width:50%;
         
  }

#h1-descricao-formulario{
    font-size: 28px;
    padding-top: 30px;
    margin-left: 40px;
    display: flex;
    justify-content: center;
}
.formulario-nome, .formulario-email{
    font-size: 25px;
    margin-top: 10%;
    margin-left: 10%;
}
.formulario-nome input{
    height: 30px;
    width: 45%;
    border-radius: 10px;
    margin-left: 7px;
}
.formulario-email{
    font-size: 25px;
    margin-top: 10px;
    margin-left: 10%;
}
.formulario-email input{
    height: 30px;
    width: 45%;
    border-radius: 10px;
}

.formulario-quadrado{
    font-size: 25px;
    margin-top: 4%;
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-left: 10%;
}

.formulario-quadrado textarea{
    height: 120px;
    width: 45%;
    border-radius: 10px;
    resize: none;
}
.formulario-botao button{
    font-size: 20px;
    height: 50px;
    width: 30%;
    border-radius: 10px;
    margin-left: -17%;
    margin-top: -4%
   
    
}

/* Fim da seção Contato */




/* Início da seção Visite-nos */

.api-posicionamento{
    height: 260px;
    margin-top: 20px;
    margin-left: 5%;
    width: 150%;
    
}

.posicionamento-visite{

    width: 100%;
    display: flex;
    justify-content: center;

} 

.posicionamento-visite h1{
    font-size:2.8vw;
    margin-top: 130px;
    
}

/* Fim da seção Visite-nos */





/* Inicío do rodapé */

.rodape{
    margin-top: 80px;
    width: 100%;
    height: 170px;
    background-image: linear-gradient(to left, rgb(14, 6, 59), rgb(197, 59, 167) );
}
.rodape li{
    font-size: 1.2vw;
    margin-left: 165px;
    margin-top: 10px;
    width: 100px;
}

.rodape li a:hover{
    color:rgb(67, 64, 224);
    font-size: 20px;
}

.rodape a{
    text-decoration: none;
    color: rgb(255,255,255)
}
.nav-topicos{
    padding-top: 35px;
    width: 5%;
    margin-top: -8%;
}

.nav-topicos ul{
    margin-top: -17%;
    list-style: url(imagens/folha.png);
    
}



.rodape-imagens{
    display: flex;
    justify-content: center;

}
.rodape-imagens img{
    width: 60px;
    height: 60px;
    padding: 10px;
    cursor: pointer;
    margin-top: 41px;
}
#rodape-agradecimento{
    color: white;
    display: flex;
    justify-content: center;
    font-size: 25px;
    margin-top: -20px;
    width: auto; 
}

#rodape-copyright{
    color: white;
    display: flex;
    align-items: center;
    font-size: 15px;
    justify-content: right;
    margin-right: 14%;
    margin-top: -3%;
}
#setas{
    display: flex;
    float: right;
    height: 30px;
    width: 30px;
    margin-right: 6%;
    margin-top: -40px;  
    color: white;
}

/* Fim do rodapé */


 /* Início do Media Query versão notebook */
 

@media only screen and (min-width: 651px) and (max-width:1366px){

    
    /* Início da responsividade do card na versão notebook */


    .card img{
        margin-top: 5px;
        height: 270px;
        width:70%;
    }


    #img-estabelecimento{
        width: 70%;
    }    


    /* Fim da responsividade do card na versão notebook */

}



/* Fim do Media Query na versão notebook */


/* Início do Media query mobile */

@media only screen and (max-width: 650px)
  {
   
    /* Início da responsividade do header */

    .hamburger { /* botão de fechar */
    margin-top: 6vh;
    display: block;
    margin-right: 1vw;
    z-index: 3;
    }

    #logo-cliente{
        margin-left: 3%;
        height: 100%;
    }
   

   #favoritos{
       display: block;
   }

   #id-carrinho{
       display: none;
       

   }

   .borda-pesquisa{
        width: 90%;
        padding-left: 1%;
        font-size: 2vh;
    
   }


   .barra-pesquisa{
    margin-right: 2%;
   }


    .nav-list {
      position: fixed;
      top: 0;
      left: 0;
      width: 100%;
      height: 30vh;
      clip-path: circle(29px at 90% -15%);
      transition: 1s ease-out;
      background: linear-gradient(to bottom, rgba(131, 85, 204,0.9), rgba(175,85,220,0.9));
      justify-content: space-around;
      gap: 10;
      pointer-events: none;
      z-index: 2;
    }

    .nav-list a{
        font-size: 3vh;
    }

    #home{
        display: none;
    }

    .nav-list ul{
        display:list-item;
        width:100%;
    }

    .nav-list ul li{
        text-align:center;
    }

    .nav-list li:nth-child(1) a {
      transition: 0.5s 0.2s;
    }
  
    .nav-list li:nth-child(2) a {
      transition: 0.5s 0.4s;
    }
  
    .nav-list li:nth-child(3) a {
      transition: 0.5s 0.6s;
    }
  
    /* Estilos ativos */
  
    .nav.active .nav-list {
      clip-path: circle(1500px at 90% -15%);
      pointer-events: all;
    }
  
    .nav.active .nav-list a {
      opacity: 1;
      font-size: 4vh;
    }
  
    .nav.active .hamburger { 
      position: fixed;
      top: 26px;
      right: 16px;
      border-top-color: transparent;
    }
  
    .nav.active .hamburger::before {
      transform: rotate(135deg);
    }
  
    .nav.active .hamburger::after {
      transform: rotate(-135deg);
      top: -7px;
    }

    /* Fim da responsividade do header */


    /* Início da responsividade do carrossel */

    .img-desktop{
        display: none;
    }

    .img-mobile{
        display: block;
    }

    .nav-auto, .nav-manual{
        margin-top: 68%;
    }

    /* Fim da responsividade do carrossel */


    
    /* Início da responsividade dos cards */ 


    .card{
        margin-left: 0;
        max-width: auto;
        width:90%;
        
    }

    .card img{
        width: 60%;
    }

    

    /* Fim da responsividade dos cards */



    /* Início da responsividade da seção que contém os cards */

   .cartao-visita-digital, .banner, .itens-utilitarios{
        margin-left: 11%;
        margin-top: 16%;
   } 

   .card p{
       font-size:2.5vh;
   }

   .card h3{
       font-size:3.5vh;
   }

   .card button{
    margin-left: 30%;
    width: 45%;
   }

   /* Fim da responsividade da seção que contém os cards */





    /* Início da responsividade da seção Sobre */

    #section-sobre {
        width: 100%;
        margin-left: 0vw;
        display: table;
        height: 40vh;
      }
      
      
    #h1-titulo {
        font-size: 5vh;
        width: 100%;
        margin-top: 15px;
      }

    #h2-texto{
        margin-top: 4vh;
        margin-left: 5vw;
        width: 90%;
    }

    /* Fim da responsividade da seção Sobre */


    /* Início da responsividade da seção Api (visite-nos) */
       
    #section-api{
        width: 100%;
        margin-left: 0vw;
        display: table;        
        
        
    }
    

    #h1-visite-nos{
        font-size: 5vh;
        margin-top: 0vh;
        display: flex;
        justify-content: center;
        width: 100%;
    }

    #iframe-api{
        margin-left: 13vw;
        height: 35vh;
        width: 70vw;
        margin-top: 3vh;
        
        
    }

    /* Fim da responsividade da seção Visite-nos */


    /* Início da responsividade da seção Contato */

    .contato-dentro{
        display: table;
        width: 100%; 
    }

    [class*='col']
    {
        width:100%;
    }


    .contato{
        width: 100%;
        margin-left: 0vw;
        height: auto;
    }

    .formulario-botao{
        margin-top: 1%;
        margin-bottom: 5%; /* criar um id na seção ultima seção para diminuir o margem top , ou por negativo para ficar mais proximos das outras categorias*/
        margin-left: 50%;
        
        
    }

    .formulario-botao button{
        font-size: 6vw;
        width: 39%;
        margin-top: 5%
        
    }

    .formulario-quadrado{
        margin-left: 0%;
    }


    /* Fim da responsividade da seção Contato */



    /* Início da responsividade da seção Rodape */


    .rodape{
        height: 1%;
    }

    .nav-topicos ul{
        margin-top: -5%;
    }

    .rodape li{
        
        font-size: 6vw;
        margin-left: 10%;
        width: 30%;
    
    }

    .rodape-imagens img{
        margin-top: 3%;
    }

    .rodape li a:hover{
        color:rgb(91, 224, 64);
        font-size: 4.8vw;
    }

    .nav-topicos{
        width: 100%;
        margin-top: -4%;
    }

  
    .links-rodape .nav-topicos .ul .li .a{
        margin-top: 10px;
    }
    
    

    #rodape-agradecimento{
        display: none;
    }

    #rodape-copyright{
        display: flex;
        align-items: center;
        margin-right: 25%;
        font-size: 2vh;
        margin-top: 6%;
        
        
    }


    /* Fim da responsividade da seção Rodape */


}

/* Fim do Media Query mobile */