*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    scroll-behavior: smooth; /* rolagem suave */
    scroll-snap-type: mandatory; /* define a direção da rolagem */
    scroll-snap-stop: always; /* força a rolagem a parar em cada seção */
}
body{
    color: rgb(0,0,0);
    background: linear-gradient(to bottom, rgb(0, 216, 253), rgb(253, 1, 246), rgb(253, 0, 20), rgb(252, 247, 0), rgb(1, 253, 18));

}


/* Início do header (cabeçalho, menu) */
 
a {
    font-family: sans-serif;
    text-decoration: none;
  }
  
header {
    background-color: rgb(14, 6, 59);
    background-image: linear-gradient(to right, rgb(14, 6, 59), rgb(197, 59, 167) );
    height: 120px;
    width: 100%;
    
  }
  
  .nav {
    width: 100%;
    height: 70px;
    display: flex;
    align-items: center;
    

  }

  .barra-pesquisa{
    margin-left: 3%;
  }
  
    #logo-cliente{   
    height: 15vh;
    margin-top: 48px;
    margin-left: 135px;
}


  .nav-list ul{
    display: flex;
    gap: 40px;
    list-style: none;
    margin-top: 45px;
    margin-left: 5.5%;
    

    
  }
  #favoritos{
      display: none;
  }
  
  .nav-list a {
    font-size: 35px;
    color: #fff;
    
  }
 
  .nav-list li a:hover{
    color:turquoise;
    font-size: 30px;
}
  
.barra-pesquisa{
    display: flex;
    height: 25px;
    margin-top: 43px;
    margin-right: 8%;

}
.lupa-pesquisa{
    margin-top: 2px;
    width: 20px;
    height: 20px;
    margin-right: 10px;
    cursor: pointer;
    
}
.borda-pesquisa{
    border-radius: 25px;
    padding-left: 25px;
    width: 330px;  
}
.img-carrinho{
    height: 35px;
    width: 35px;
    margin-left: 47px;
    margin-top: -3px;
    cursor: pointer;
} 

  .hamburger {
    display: none;
    border: none;
    background: none;
    border-top: 3px solid #fff;
    cursor: pointer;
  }
  
  .hamburger::after,
  .hamburger::before {
    content: " ";
    display: block;
    width: 30px;
    height: 3px;
    background: #fff;
    margin-top: 5px;
    position: relative;
    transition: 0.3s;
  }

  /* Fim do header */


  /* Início do carrossel */

  #img_sslide
		{
			height:70%; 
			width:100%;
			border-radius:20px;
			box-shadow:2px 4px 12px 3px rgb(100,100,100);
		}
	  
		#carrossel
		{
			height:350px; /*altura fixa */
			width:100%;
		}
	  
		#botoes_slide
		{
			margin-left:50%;
			margin-top: 1%;
		}

    /* Fim do carrossel */

  

    /* Início da estilização de todas as seções de produtos */

.cartao-visita-digital{
    margin-left: 153px;
    
}

.imagens {
    margin-top: 5px;
    height: 270px;
    width: 70%;
    margin-left: -2px;
}
#img-estabelecimento{
    width: 200px;
} 
.banner, .itens-utilitarios{
    margin-left: 153px;
    margin-top: 20px;
}

/* Estilizando os cards */
.card{
    width:300px;
    height: 450px;
    border:1px solid #ccc;
    margin-top: 30px;
    padding: 10px;
    margin-left: 15px;
    display: inline-block;;
    border-radius: 15px;
    box-sizing: border-box;
    text-align: center;
}
.card img{
    width: 56%;
    height: 190px;
}
.card img:hover{
    border:10px double black;
    
}
.card h3{
    font-size: 18px;
    margin-top: 10px;
}
.card h3:hover{
    color:yellow;
}
.card p{
    font-size: 14px;
    margin-top: 10px;
}
.card button{
    display: block;
    margin: 10px;
    margin-left: 80px;
    background-image: linear-gradient( to right, aqua, purple);
    color:#fff;
    cursor:pointer;
    width: 130px;
    height: 50px;
    border-radius: 20px;
}
.card:hover{
    background-image: linear-gradient( to right, rgb(211, 24, 195), bisque);
    color: #000;
    font-weight:700;
}
.card button:hover{
    background-color: aquamarine;
    color: #000;
    font-weight:700;
}
/* Fim dos cards */

/* Fim da estilização de todas as seções de produtos */


/* Início da estilização da seção Sobre */

.sobre, .api, .contato{
    display: flex;
    height: 300px;
    width: 85%;  
    margin-top: 80px;
    margin-left: 145px; 
    background: linear-gradient(to bottom, rgb(0, 216, 253), rgb(253, 1, 246), rgb(253, 0, 20));

    border-radius: 10px;
}
.sobre h1{
    font-size: 40px;
    margin-left: 120px;
    padding-top: 130px;
    
}
.sobre h2{
    font-size: 26px;
    margin-top: 105px;
    margin-left: 90px;
    margin-right: 55px;
}

/* Fim da estilização da seção Sobre */


/* Início da seção Visite-nos */

.api-posicionamento{
    height: 260px;
    margin-top: 20px;
    margin-left: 115px
}

.posicionamento-visite h1{
    font-size:40px;
    margin-top: 130px;
    margin-left: 200px;
}

/* Fim da seção Visite-nos */


/* Início da seção Contato */


.contato-dentro
  {
      /* professora deixou esse comando: display:table; */
      display: flex;
      
      
      
  }

  [class*='col']
  {
      width:50%;
      
      
  }

  


#h1-descricao-formulario{
    font-size: 28px;
    padding-top: 30px;
    margin-left: 40px;
}
.formulario-nome{
    font-size: 25px;
    margin-top: 10%;
    margin-left: 10%;
}
.formulario-nome input{
    height: 30px;
    width: 45%;
    border-radius: 10px;
    margin-left: 7px;
}
.formulario-email{
    font-size: 25px;
    margin-top: 10px;
    margin-left: 10%;
}
.formulario-email input{
    height: 30px;
    width: 45%;
    border-radius: 10px;
}

.formulario-quadrado{
    font-size: 25px;
    margin-top: 4%;
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-left: 10%;
}

.formulario-quadrado textarea{
    height: 120px;
    width: 45%;
    border-radius: 10px;
    resize: none;
}
.formulario-botao button{
    font-size: 20px;
    height: 50px;
    width: 30%;
    border-radius: 10px;
    margin-left: -17%;
   
    
}

/* Fim da seção Contato */


/* Inicío do rodapé */

.rodape{
    margin-top: 80px;
    width: 100%;
    height: 170px;
    background: linear-gradient(to bottom, rgb(0, 216, 253), rgb(253, 1, 246));
}
.rodape li{
    font-size: 22px;
    margin-left: 165px;
    margin-top: 10px;
    width: 100px;
}

.rodape li a:hover{
    color:rgb(67, 64, 224);
    font-size: 20px;
}

.rodape a{
    text-decoration: none;
    color: rgb(0, 0, 0);
}
.nav-topicos{
    padding-top: 30px ;
    width: 80px;
}
.rodape-imagens{
    display: flex;
    justify-content: center;
    cursor: pointer;

}
.rodape-imagens img{
    width: 60px;
    height: 60px;
    margin-top: -90px;
    padding: 10px;
}
#rodape-agradecimento{
    display: flex;
    justify-content: center;
    font-size: 25px;
    margin-top: -20px;
    width: auto; 
}

#rodape-copyright{
    display: flex;
    align-items: center;
    font-size: 15px;
    justify-content: right;
    margin-right: 250px;
    margin-top: -30px;
}
#setas{
    display: flex;
    float: right;
    height: 30px;
    width: 30px;
    margin-right: 6%;
    margin-top: -40px;  
}




/* Fim do rodapé */


/* Início do Media query */

@media only screen and (max-width: 650px)
  /* o padrão é tela desktop - aqui vai assumir quando as telas forem pequenas */
  {
   
    /* Início da responsividade do header */

    .hamburger {
    margin-top: 6vh;
    display: block;
    
      
    }

    #logo-cliente{
        margin-left: 5%;
        height: 100%;
    }

  
    .barra-pesquisa{
        
        margin-left: 15%;
        
    
   }

   #favoritos{
       display: block;
   }

   #id-carrinho{
       display: none;
       
   }

   .borda-pesquisa{
        width: 90%;
    
   }


    .nav-list {
      position: fixed;
      top: 0;
      left: 0;
      width: 100%;
      height: 35vh;
      clip-path: circle(33px at 90% -15%);
      transition: 1s ease-out;
      background: linear-gradient(to bottom, rgba(131, 85, 204,0.9), rgba(175,85,220,0.9));
      justify-content: space-around;
      gap: 10;
      pointer-events: none;
    }

    .nav-list ul{
        display:list-item;
        width:100%;
    }

    .nav-list ul li{
        text-align:center;
    }

    .nav-list li:nth-child(1) a {
      transition: 0.5s 0.2s;
    }
  
    .nav-list li:nth-child(2) a {
      transition: 0.5s 0.4s;
    }
  
    .nav-list li:nth-child(3) a {
      transition: 0.5s 0.6s;
    }
  
    /* Estilos ativos */
  
    .nav.active .nav-list {
      clip-path: circle(1500px at 90% -15%);
      pointer-events: all;
    }
  
    .nav.active .nav-list a {
      opacity: 1;
    }
  
    .nav.active .hamburger {
      position: fixed;
      top: 26px;
      right: 16px;
      border-top-color: transparent;
    }
  
    .nav.active .hamburger::before {
      transform: rotate(135deg);
    }
  
    .nav.active .hamburger::after {
      transform: rotate(-135deg);
      top: -7px;
    }

    /* Fim da responsividade do header */

        
    /* Início da responsividade dos cards */ 


    .card{
        margin-left: 0;
        max-width: auto;
    }


    /* Fim da responsividade dos cards */


    /* Início da responsividade da seção Sobre */

    #section-sobre {
        width: 100%;
        margin-left: 0vw;
        display: table;
      }
      
      
    #h1-titulo {
        font-size: 5vh;
        text-align: center;
        margin-top: -14vh;
        margin-left: 0vw;
        
      }

    #h2-texto{
        margin-top: 4vh;
        margin-left: 5vw;
    }

    /* Fim da responsividade da seção Sobre */


    /* Início da responsividade da seção Api (visite-nos) */
       
    #section-api{
        width: 100%;
        margin-left: 0vw;
        display: table;        
        
        
    }
    

    #h1-visite-nos{
        font-size: 5vh;
        margin-top: 0vh;
        margin-left: 40vw;
    }

    #iframe-api{
        margin-left: 13vw;
        height: 35vh;
        width: 70vw;
        margin-top: 3vh;
        
        
    }

    /* Fim da responsividade da seção Visite-nos */


    /* Início da responsividade da seção Contato */

    .contato-dentro{
        display: table;
        width: 100%; 
    }

    [class*='col']
    {
        width:100%;
    }


    .contato{
        width: 100%;
        margin-left: 0vw;
        height: auto;
    }

    .formulario-botao{
        margin-top: 1%;
        margin-bottom: 1%;
        margin-left: 50%;
    }

    .formulario-quadrado{
        margin-left: 0%;
    }


    /* Fim da responsividade da seção Contato */



    /* Início da responsividade da seção Rodape */


    .rodape{
        
        display: table;
        
    }

    .rodape li{
        
        font-size: 4vw;
        margin-left: 10%;
    
    }

    .rodape li a:hover{
        color:rgb(67, 64, 224);
        font-size: 3.5vw;
    }

    .grupo2{
        
        display: flex;
        justify-content: center;
        
    }

    
    
    .rodape-imagens{
        width: 20px;
        height: 20px;
        cursor: pointer;
        
    }

    
    

    #rodape-agradecimento{
        display: none;
    }

    #rodape-copyright{
        display: flex;
        align-items: center;
        margin-right: 30%;
        
        
    }


    /* Fim da responsividade da seção Rodape */


}

/* Fim do Media query */